/* ------------- */
/*   Variables   */
/* ------------- */
:root {
  --color_1: hsl(
    300,
    43%,
    22%
  ); /* Main title, references title, 
                                      review background */
  --color_2: hsl(333, 80%, 67%); /* Users status */
  --color_3: hsl(302, 10%, 53%); /* Rated background, main text */
  --color_4: hsl(300, 24%, 96%); /* Reviewer names, review text */
  --color_5: hsl(0, 0%, 100%); /* Main background */
}

/* ----------------- */
/*  Main parameters  */
/* ----------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  font-size: 15px;

  /* Advanced feature */
  scroll-behavior: smooth;

  /* Font */
  font-family: "Poppins", sans-serif;
  font-size: 18px;

  /* Control selection */
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

body {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

/* Sections */
section {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#contacts_page {
  height: 25%;
}

#home_page {
  background-color: #59405c;
}

#about_page,
#foods_page,
#contacts_page {
  background: #fdfafa;
}

#landscapes_page,
#meetings_page {
  background: #e2dede;
}

/* Navigation bar */
.home_button {
  width: 40px;
  height: 40px;
}

.home_button img {
  min-width: 100%;
  max-width: 100%;
}

li {
  font-style: italic;
  font-weight: 700;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
}

#first_nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  z-index: 2;
}

.menu1 li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}

.menu1 li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

#second_nav_bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  z-index: 2;
}

.menu2 li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}

.menu2 li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
}

/* Navbar underlined */
.menu1 a {
  display: block;
  position: relative;
  margin: 0;
}

.menu1 a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 300ms, transform 500ms;
}

.menu1 li a {
  overflow: hidden;
}

.menu1 li a::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.menu1 li a:hover::after,
.menu1 li a:focus::after {
  transform: translate3d(0, 0, 0);
}

.menu2 a {
  display: block;
  position: relative;
  margin: 0;
}

.menu2 a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  transition: opacity 300ms, transform 500ms;
}

.menu2 li a {
  overflow: hidden;
}

.menu2 li a::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.menu2 li a:hover::after,
.menu2 li a:focus::after {
  transform: translate3d(0, 0, 0);
}

/* -------------------- */
/* 1st page - Home page */
/* -------------------- */
#home_page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.main_panel {
  width: 96%;
  height: 92%;
  background-color: rgba(0, 0, 0, 0.698);
  z-index: 1;
  opacity: 0.7;
  transition: 1s;
}

#home_page .main_content {
  width: 50%;
  height: 30%;
  margin-top: 10%;
  margin-left: 12%;
}

.main_content h1 {
  font-size: 3rem;
  color: #fff;
}

.main_content h3 {
  font-size: 1.5rem;
  color: #fff;
}

.video_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
}

/* ------------------- */
/*  All article pages  */
/* ------------------- */
#about_page,
#landscapes_page,
#foods_page,
#meetings_page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#about_page header,
#landscapes_page header,
#foods_page header,
#meetings_page header {
  height: 7%;
  flex: 0 1 auto;
  text-align: center;
}

.main_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 auto;
}

.text_content {
  text-align: center;
  width: 40%;
  align-self: start;
  font-style: italic;
}

/* Profil image hover */
.overlay_image {
  position: relative;
  width: 26%;
  height: 70%;
  overflow: hidden;
}

.overlay_image .content_image {
  display: block;
  min-width: 100%;
  max-width: 100%;
}

.overlay_text {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.overlay_image .img_hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
}

.overlay_image:hover .img_hover {
  opacity: 0.7;
  background-color: #000;
}

.overlay_image:hover .img_hover .overlay_text {
  opacity: 1;
}

/* ------------------- */
/* 2nd page - About me */
/* ------------------- */

/* Text content styles */
.about_content {
  margin-top: 9%;
}

.about_content h2 {
  font-weight: bold;
  font-size: 2rem;
}

.about_content h4 {
  font-size: 1.2rem;
  color: #ce9c9c;
  margin-top: 1%;
}

.about_content p {
  font-style: italic;
  font-size: 1rem;
  margin-top: 11%;
}

.palmer {
  position: absolute;
  transform: scale(0.85);
  width: 20%;
  right: -30%;
  bottom: -50%;
  /* animation is handled with javascript */
  /* animation : palmer_appearance 1.5s forwards; */
}

@keyframes palmer_appearance {
  100% {
    right: -1.5%;
    bottom: -5%;
  }
}

/* --------------------- */
/* 3rd page - Landscapes */
/* --------------------- */
#landscapes_page .main_content {
  flex-direction: row-reverse;
}

/* Text content styles */
.landscapes_content {
  margin-top: 7%;
}

.landscapes_content h2 {
  font-weight: bold;
  font-size: 2rem;
}

.landscapes_content p {
  font-style: italic;
  font-size: 1rem;
  margin-top: 9%;
}

/* Drawing animation */
.mountain {
  position: absolute;
  transform: scale(0.85);
  width: 20%;
  left: -30%;
  bottom: -50%;
  /* animation is handled with javascript */
  /* animation: mountain_appearance 1.5s forwards; */
}

@keyframes mountain_appearance {
  100% {
    left: 18%;
    bottom: 8%;
  }
}

/* ---------------- */
/* 4rd page - Foods */
/* ---------------- */
/* Text content styles */
.foods_content {
  margin-top: 7%;
}

.foods_content h2 {
  font-weight: bold;
  font-size: 2rem;
}

.foods_content p {
  font-style: italic;
  font-size: 1rem;
  margin-top: 9%;
}

/* Drawing animation */
.cultery {
  position: absolute;
  transform: scale(1.4);
  width: 20%;
  right: -30%;
  bottom: -15%;
  /* animation is handled with javascript */
  /* animation: cultery_appearance 1.5s forwards; */
}

@keyframes cultery_appearance {
  100% {
    right: 13%;
    bottom: 8%;
  }
}

/* ------------------- */
/* 5th page - meetings */
/* ------------------- */
#meetings_page .main_content {
  flex-direction: row-reverse;
}

/* Text content styles */
.meetings_content {
  margin-top: 7%;
}

.meetings_content h2 {
  font-weight: bold;
  font-size: 2rem;
}

.meetings_content p {
  font-style: italic;
  font-size: 1rem;
  margin-top: 9%;
}

/* Drawing animation */
.friends {
  position: absolute;
  transform: scale(1.1);
  width: 20%;
  left: -30%;
  bottom: -50%;
  /* animation is handled with javascript */
  /* animation: friends_appearance 1.5s forwards; */
}

@keyframes friends_appearance {
  100% {
    left: 18%;
    bottom: 8%;
  }
}

/* ------------- */
/* Contacts page */
/* ------------- */
#contacts_page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_text {
  width: 20%;
  height: auto;
  font-weight: bold;
  font-size: 1.2rem;
}

.footer_arrow {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  opacity: 0;
  /* animation is handled with javascript */
  /* animation: footer_arrow_appearance 1.5s forwards; */
}

@keyframes footer_arrow_appearance {
  100% {
    opacity: 1;
  }
}

.footer_arrow img {
  min-width: 100%;
  max-width: 100%;
  transform: rotate(-45deg);
}

.social_network_icons {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  width: 10%;
  height: 10%;
}

.icons img {
  min-width: 100%;
  max-width: 100%;
}
